body {
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1{
	color: white;
	font-size: 55px;
	width: 50%;
	text-transform: uppercase;
    margin-right: auto;
    margin-left: auto;
	text-align: center;
}

h2{
	font-family:Volkohn;
	font-size:16px;
	color:white;
	font-weight: 400;
	font-style: Italic;
	margin-left:80px;
	margin-top:-150px;
	position:absolute;
}

h3 {
	font-family:Volkohn;
	font-size:18px;
	color:#0f1230;
	font-weight: 300;
	font-style: italic;
	margin-bottom:-35px;
}

h4{
	font-family: Montserrat;
	font-weight: 700;
	color: #0f1230;
	font-size: 30px;
	text-transform: uppercase;
}

h5{
	font-family:Volkohn;
	font-size:18px;
	color:white;
	font-weight: 300;
	font-style: italic;
	margin-bottom:-55px;
}

h6 {
	font-family: Montserrat;
	font-weight: 700;
	color: white;
	font-size: 30px;
	text-transform: uppercase;
}

.conocenos {
	font-family: Montserrat;
	font-weight: 700;
	color: white;
	font-size: 30px;
	margin-top: 55px;
}

.section.main {
	background-image: url('../assets/images/main_background.png');
}
.logo {
	position: fixed;
	top: 25px;
	left: 40px;
	z-index:1;
}
.menu {
	position: fixed;
	padding: 20px;
	top: 20px;
	right: 20px;
	z-index:1;
	cursor: pointer;
}
.arrow {
	position: absolute;
	bottom: 40px;
	right: 50%;
}

.section.services {
	background-color: #0f1230;
}

@media screen and (max-width: 480px) {
	.section h1 {
		width: 70%;
		font-size: 30px;
	}
}
.slidebar {
    background: #3e0b36;
    width: 600px;
    position: absolute;
    right: 0;
    z-index: 1;
}

.box{
	width:200px;
	height:300px;
	margin-left:58px;
}

.servicios{
	position:absolute;
	list-style-type:square;
	color:white;
	left:0;
	margin-left:55px;
}

.section.proceso{
	background-color: #ededed;
}

table{
	margin-right:auto;
	margin-left:auto;
}

#content{
	height:500px;
	width:400px;
	text-align: center;
}

.ilust{
	height:350px;
	width:auto;
	display:inline-block;
}

.pasos{
	margin-left: 0;
	margin-right: 0;
	background-color:white;
}

.contentpasos{
	text-align: center;
	width:30%;
	display: inline-block;
}

.slidebar a, .slidebar p {
	color: white;
}
.slidebar ul {
	list-style-type: none;
	padding-left: 100px;
}
.slidebar p {
	padding-left: 100px;
	margin-top: 0;
}
.slidebar a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 27px;
}
.slidebar a:hover {
    color: #c95854;
}


.menu-container p {
	font-family: Volkohn;
	font-style: italic;
	color: #c95854;
	font-size: 16px;
}


.text {
	font-family: Nunito;
	font-size: 16px;
}

.button {

	text-decoration: none;
	margin-left:auto;
	margin-right:auto;
	background-color:#7f345d;
	width:80px;
	padding:15px;
	border-radius:5px;
	text-align:center;
	color:white;
	font-size:11px;
	text-transform: uppercase;
	font-family: Montserrat;
	font-weight: 400;
}

a {
	text-decoration:none;
}

.button:hover {
	background-color: #964973;
}

.nosotros{
	background-image: url('../img/nosotros-img.png');
	height:500px;
	text-align:center;
}

.buttonwhite {
	margin-left:auto;
	margin-right:auto;
	color:white;
	border: 2px solid white;
	border-radius:5px;
	font-size:11px;
	text-transform: uppercase;
	font-family: Montserrat;
	font-weight: 400;
	padding:15px;
	width:80px;
}

.buttonwhite:hover {
	color: #d27c49;
	border-color: #d27c49;
}

.title-clients {
	color:#0f1230;
	font-family: Volkohn;
	font-style: italic;
	font-size: 16px;
	padding-left: 6.5%;
	padding-top: 9%;
	width: 6%;
	float: left;
}

.client-container{
	padding-left: 24%;
	padding-top: 11%;
}

.cliente1:hover {
    content: url('../img/cliente1.png');
}

.cliente2:hover {
    content: url('../img/cliente2.png');
}

.cliente3:hover {
    content: url('../img/cliente3.png');
}

.cliente4:hover {
    content: url('../img/cliente4.png');
}

.general-client {
	margin-right: 20px;

}
.clients .clients {
	background-color: #ededed;
	height: 60%;
}

.clients .footer {
	background-color: black;
	height: 40%;
}

li{
	font-size:11px;
	text-transform: uppercase;
	line-height: 30px
}

.section.mainproceso{
	background-image: url('../img/proceso-img.png');
}

.section.mainnosotros{
	background-image: url('../img/nosotroscontent-img.png');
}

.center {
	width:30%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.section.procesocontent {
	background-color: #ededed;
	text-align:center;
}


.footer-conocenos {
	text-transform: uppercase;
	color: white;
	font-size: 25px;
	margin: 0px;
	padding-top: 30px;
	padding-left: 40px;
}

.footer-adress {
	color: white;
	font-family: Nunito;
	font-style: light;
	width: 70%;
	padding-left: 40px;
}

.footer-tel {
	color: white;
	font-family: Nunito;
	font-style: light;
	padding-left: 40px;
}

.footer-hola {
	text-transform: uppercase;
	color: white;
	font-size: 25px;
	margin: 0px;
	padding-top: 5px;
	padding-left: 40px;
}

.footer-web {
	color: white;
	font-family: Nunito;
	font-style: light;
	padding-left: 40px;
}

.footer-rights {
	color: white;
	font-family: Volkohn;
	font-style: italic;
	padding-left: 65px;
	margin-top:225px;
}

.footer-button {
	position:absolute;
	bottom:5%;
}

.three {
	width: 33.33%;
	float: left;
}

.inline{
	float:left;
	display:inline-block;
}

.h-center{
	text-align: center
}

.h-center div{
	margin-top:200px;
	text-align: left;
}

.slidebarContact {
    background: blue ;
    width: 600px;
    position: absolute;
    right: 0;
    z-index: 3;
}

.contactBtn{
	right: 10px;
	position:absolute;
	color:white;
	z-index: 2;
	text-transform: uppercase;
	font-size: 11px;
	top:50%;
	transform: rotate(90deg) translateY(50%);
	cursor: pointer;
}

.contact-container p {
	font-family: Volkohn;
	font-style: italic;
	color: #c95854;
	font-size: 16px;
}

.contact {
	position: fixed;
	padding: 20px;
	top: 20px;
	right: 20px;
	z-index:1;
	cursor: pointer;
}

.slidebarContact a, .slidebarContact p {
	color: red;
}
.slidebarContact ul {
	list-style-type: none;
	padding-left: 100px;
}
.slidebarContact p {
	padding-left: 100px;
	margin-top: 0;
}
.slidebarContact a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 27px;
}
.slidebarContact a:hover {
    color: #c95854;
}